/* ==========================
	Write your solution here!
   ========================== */
h1 {
color: #0b5710;
font-size: 60px;
}

h2 {
color: #198020;
font-size: 40px;
}

p {
font-size: 20px;
}

strong {
   color: #801919;
}

em {
   color: #064791;
}
