/* box-model padding (inside box) */
/* padding is like adding background */
/* 
  if you don't have background; 
  padding and padding seen same
*/
body {
  background: #333;
  color: white;
}

header {
  color: #333;
  background: white;
  width: 100px;
  padding-top: 100px;
  padding-left: 25px;
}

main > h2 {
  background-color: coral;
  color: white;
  /* top left|right bottom*/
  padding: 50px 10px 25px;
  /* top|bottom left|right */
  /* padding: 50px 10px; */
  /* top right bottom left (clockwise) */
  /* padding: 50px 10px 50px 10px; */
  /* padding set individually */
  /* padding-top: 50px;
  padding-left: 50px; */
}
